.inventoryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inventoryList {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}
.inventoryAddBody {
  display: flex;
  margin-bottom: 10px;
}
.addInventory{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border: 3px solid #fff;
  padding: 10px;
  background-color: #404040;
  border-radius: 10px;
}
.inventoryInputBar {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  padding: 0 10px;
}
.excelUpload{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border: 3px solid #fff;
  padding: 0px 20px;
  background-color: #404040;
  border-radius: 10px;
}
.excelUploadBody{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  padding: 5px;
}

.inventoryHeader {
  display: flex;
  width: 100%;
  padding: 10px 0px;
  border: 2px solid #fff;
  background-color: #404040;
  border-radius: 8px;
  margin-bottom: 5px;
}
.inventoryHeaderBar{
  padding: 0 10px;
  display: flex;
  width: 100%;
  background-color: #404040;
}

.inventoryHeaderItem {
  flex: 1;
  font-weight: bold;
  color: #ffffff;
  text-align: start;
}
.inventoryHeaderItem.flex1 {
  flex: 1;
}
.inventoryHeaderItem.flex2 {
  flex: 2;
}
.inventoryHeaderItem.flex3 {
  flex: 3;
}
.inventoryHeaderItem.flex4 {
  flex: 4;
}
